header img {
  max-width: 48%;
  height: auto;
  margin-left: 30px;
}

header .icons {
  color: #ffffff;
  font-size: 16px;
}

header .icons i {
  cursor: pointer;
  font-size: 25px;
  display: inline-block;
  margin-right: 10px;
}

#meals {
  padding: 100px 0;
  height: 100vh;
  background-image: url("../imgs/food.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  max-height: 100vh;
}

#meals::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00000063;
}

#meals .main {
  z-index: 999999;
  max-height: 500px;
}

#meals .Ressepts {
  background-color: #a54d4dbf;
  padding: 30px;
  border-radius: 8px;
  width: 100%;
  max-height: 600px;
  overflow-y: auto;
}

#meals .Ressepts .display {
  max-height: 300px;
  overflow-y: auto;
}

#meals .Ressepts .avatar {
  max-height: 250px;
  max-width: 300px;
}

#meals .Ressepts .links {
  color: white;
  text-transform: capitalize;
  font-size: 25px;
  text-decoration: none;
}

#meals .Ressepts .resepts {
  z-index: 999999;
  padding: 15px;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ffffff;
  border-radius: 8px;
}

#meals input {
  z-index: 9000;
}

#meals .display {
  color: white;
  cursor: text;
  text-align: center;
}
